
@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}


html, body{
    background-color: rgb(59, 59, 59);
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}